<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suribada.rxjavabook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subject.AutoDisposeActivity"
            android:label="subject/TerminatedStateSubject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.LearningRxJavaActivity"
            android:label="learning/LearningRxJavaTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.OreillyActivity"
            android:label="learning/OreillyTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ColdObservableActivity"
            android:label="replay/ColdObservable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ReplaySubjectActivity"
            android:label="replay/ReplaySubject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ConnectableActivity"
            android:label="replay/ConnectableTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap6.SchedulerActivity"
            android:label="chap6/SchedulerTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap6.TrampolineActivity"
            android:label="chap6/Trampoline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.SwitchMapActivity"
            android:label="switch/SwitchMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap7.StopWatchActivity"
            android:label="chap7/StopWatch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap4.HandlerRepeatActivity"
            android:label="chap4/HandlerRepeat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap4.RepeatRxJavaActivity"
            android:label="chap4/RepeatRxJavaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap5.RepeatDisposeActivity"
            android:label="chap5/RepeatDisposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap1.ObserverActivity"
            android:label="chap1/Observer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.ThreadActivity" android:label="chap6/Thread">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap1.FunctionalActivity" android:label="chap1/Functional">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap1.CollectActivity" android:label="chap1/SideEffect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ContractErrorActivity" android:label="chap3/ContractError">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ContractErrorRevisedActivity" android:label="chap3/ContractErrorRevised">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ThreadProblemActivity" android:label="chap3/ThreadProblem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap2.ImmutableActivity" android:label="chap2/ImmutableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.TwoButtonClickActivity" android:label="chap4/TwoButtonClickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.LegacyTwoButtonClickActivity" android:label="chap4/LegacyTwoButtonClickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.AsyncTaskProblemActivity" android:label="chap4/AsyncTaskProblemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.WeatherApiCallActivity" android:label="chap6/WeatherApiCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.BookApiCallActivity" android:label="chap6/BookApiCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.SubscribeOnObserveOnActivity" android:label="chap6/SubscribeOnObserveOnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CountDownLatchActivitiy" android:label="chap4/CountDownLatchActivitiy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CountDownLatchNextActivitiy" android:label="chap4/CountDownLatchNextActivitiy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CompletableFutureActivity" android:label="chap4/CompletableFutureActivity(Java8 누가)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.MergeActivity" android:label="chap4/MergeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.ConcatEagerActivity" android:label="chap4/ConcatEagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.ConditionActivitiy" android:label="chap4/ConditionActivitiy(Invalid Sample)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.TwoMapActivity" android:label="chap4/TwoMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap8.CustomActivity" android:label="chap8/CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>