<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suribada.rxjavabook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subject.AutoDisposeActivity"
            android:label="subject/TerminatedStateSubject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.LearningRxJavaActivity"
            android:label="learning/LearningRxJavaTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.OreillyActivity"
            android:label="learning/OreillyTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ColdObservableActivity"
            android:label="replay/ColdObservable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ReplaySubjectActivity"
            android:label="replay/ReplaySubject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hot.ConnectableActivity"
            android:label="replay/ConnectableTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap6.SchedulerActivity"
            android:label="chap6/SchedulerTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap6.TrampolineActivity"
            android:label="chap6/TrampolineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".another.SwitchMapActivity"
            android:label="switch/SwitchMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap7.StopWatchActivity"
            android:label="chap7/StopWatch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap4.HandlerRepeatActivity"
            android:label="chap4/HandlerRepeat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap4.RepeatRxJavaActivity"
            android:label="chap4/RepeatRxJavaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap5.RepeatDisposeActivity"
            android:label="chap5/RepeatDisposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap1.ObserverActivity"
            android:label="chap1/Observer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.ThreadActivity" android:label="chap6/ThreadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap1.FunctionalActivity" android:label="chap1/Functional">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap1.CollectActivity" android:label="chap1/SideEffect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ContractErrorActivity" android:label="chap3/ContractError">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ContractErrorRevisedActivity" android:label="chap3/ContractErrorRevised">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.ThreadProblemActivity" android:label="chap3/ThreadProblem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap3.MaybeActivity" android:label="chap3/MaybeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap2.ImmutableActivity" android:label="chap2/ImmutableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.TwoButtonClickActivity" android:label="chap4/TwoButtonClickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.LegacyTwoButtonClickActivity" android:label="chap4/LegacyTwoButtonClickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.AsyncTaskProblemActivity" android:label="chap4/AsyncTaskProblemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.WeatherApiCallActivity" android:label="chap6/WeatherApiCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.BookApiCallActivity" android:label="chap6/BookApiCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.SubscribeOnObserveOnActivity" android:label="chap6/SubscribeOnObserveOnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CountDownLatchActivitiy" android:label="chap4/CountDownLatchActivitiy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CountDownLatchNextActivitiy" android:label="chap4/CountDownLatchNextActivitiy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CompletableFutureActivity" android:label="chap4/CompletableFutureActivity(Java8 누가)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.MergeActivity" android:label="chap4/MergeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.ConcatEagerActivity" android:label="chap4/ConcatEagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.ConditionActivitiy" android:label="chap4/ConditionActivitiy(Invalid Sample)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.TwoMapActivity" android:label="chap4/TwoMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.CallTaxiActivity" android:label="chap4/CallTaxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap8.CustomActivity" android:label="chap8/CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.RepeatStatementActivity" android:label="chap4/RepeatStatementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.RepeatThreadActivity" android:label="chap4/RepeatThreadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.MaybeActivity" android:label="chap4/MaybeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap4.RxBindingActivity" android:label="chap4/RxBindingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ObservableCreateActivity" android:label="chap5/ObservableCreateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ObservableDeferActivity" android:label="chap5/ObservableDeferActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.CreateDisposeActivity" android:label="chap5/CreateDisposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.CreateDisposeActivity2" android:label="chap5/CreateDisposeActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.CacheActivity" android:label="chap5/CacheActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ResumeActivity" android:label="chap5/ResumeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ResumeActivity2" android:label="chap5/ResumeActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.SearchActivity" android:label="chap5/SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.SearchActivity2" android:label="chap5/SearchActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ProxyActivity" android:label="chap5/ProxyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.ProxyActivity2" android:label="chap5/ProxyActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.MulticastActivity" android:label="chap5/MulticastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.MulticastActivity2" android:label="chap5/MulticastActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.MulticastActivity3" android:label="chap5/MulticastActivity3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.SafeObserverActivity" android:label="chap5/SafeObserverActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.DisposableActivity" android:label="chap5/DisposableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.AutoDisposeActivity" android:label="chap5/AutoDisposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.InterruptActivity" android:label="chap5/InterruptActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap5.SerialDisposableActivity" android:label="chap5/SerialDisposableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.FlatMapActivity" android:label="chap6/FlatMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.HttpConnectActivity" android:label="chap6/HttpConnectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".leaktest.LeakActivity1" android:label="leaktest/LeakActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".leaktest.LeakActivity2" android:label="leaktest/LeakActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".leaktest.LeakActivity3" android:label="leaktest/LeakActivity3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".etc.ChangeLineActivity" android:label="etc/ChangeLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
        </intent-filter>
        </activity>
        <activity android:name=".chap6.WrongSubscribeOnActivity" android:label="chap6/WrongSubscribeOnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".chap6.UnsubscribeOnActivity" android:label="chap6/UnsubscribeOnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.suribada.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>